<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>ADHD Tahmin Sistemi</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container" style="text-align:center;margin: 0 auto;justify-content: center;align-items: center;" id="ana-buton">
    <h1>ADHD Risk Analiz Sistemi</h1>
    <button onclick="window.location.href='/insights'" class="menu-button">Veri Analizi Modülü</button>
    <button onclick="window.location.href='/models'" class="menu-button">Model Karşılaştırma Modülü</button>
    <button onclick="window.location.href='/analysis'" class="menu-button">Risk Tahmin Modülü</button>
    
</div>


</body>
</html>